@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: white
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-color-main {
  background: #EBBBB1;
}

.bg-color-main-content {
  background: #EDC7B2;
}

.bg-color-button {
  background: #F4E4BA;
}

.text-color-others {
  color: #D66BA0;
}

.text-color-Logo {
  color: #AF4D98;
}

.bg-color-card {
  background: #CCE1F5;
}

.bg-color-button-hover {
  background: #f4e4baa2;
}